@charset "utf-8";
/* ---------------------------------------------- */
/* Base */
/* ---------------------------------------------- */
@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(../image/page_bg.gif);
	background-repeat: repeat;
}
ul  {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
p {
	font-size: 12px;
	padding: 0px;
}
img {
	border:none;
}
table {
	font-family: "MS PGothic";
	font-size: 12px;
	line-height: 20px;
	color: #585858;
}
/*h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}*/

br{
height: 5px;
}
#All {
	width: 980px;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#Main {
	width: 980px;
	/*float: left;*/
	margin: 0px;
	background-color: #FFFFFF;
	box-shadow:  10px 0px 10px -7px rgba(0,0,0,0.5),
							 -10px 0px 10px -7px rgba(0,0,0,0.5);
	/*border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;*/
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;*/
}

/* ---------------------------------------------- */
/* header */
/* ---------------------------------------------- */
.header {
	padding-bottom: 10px;
	background-color: #FFFFFF;
	/*background-image: url(../image/header_bg.gif);*/
	/*background-repeat: no-repeat;*/
	/*background-position: bottom;*/
}

.hd_logo {
	padding-left: 10px;
	float: left;
	padding-bottom: 5px;
}

.hd_logo img{
	height: 70px;
}

.hd_mode {
	width: 340px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	text-align: left;
	height: 55px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.team_name a{
	margin-left: 15px;
	margin-right: 15px;
  text-decoration: none;
  color: #585858;
}
/* ---------------------------------------------- */
/* center */
/* ---------------------------------------------- */

.center_Main {
	/*float: left;*/
	font-size: 12px;
	padding-bottom: 20px;
	line-height: 20px;
	font-family: "MS PGothic";
}

.center_cont {
	/*padding-top: 10px;*/
	padding-right: 10px;
	padding-left: 10px;
	font-family: "MS PGothic";
	font-size: 12px;
	line-height: 20px;
	color: #686868;
}
.acenter {
  text-align: center;
}
.aright {
  text-align: right;
}
.aleft {
  text-align: left;
}

.m5{
  margin: 5px;
}
.m10{
  margin: 10px;
}

.wM{
  width: 100%;
}

.dot_line {
	height: 2px;
	background-image: url(../image/icon01.gif);
	background-repeat: repeat-x;
}

.login_cont {
	width: 715px;
	float: left;
	padding-left: 5px;
}

.login_bg {
	width: 710px;
	background-image: url(../image/log_bg.gif);
	background-repeat: repeat-y;
	padding-left: 5px;
	padding-right: 5px;
}


.login_compe .s_title {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
.select_condition{
  margin: 20px;
}
.select_condition .button{
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 300px;
  font-size: 15px;
  background-image: url("../image/btn/common_30_off.jpg");
  background-repeat: repeat-x;
  background-size: contain;

  border: 1px solid #a0a0a0;
  border-radius: 5px;  /* CSS3 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome */
  -moz-border-radius: 5px;  /* Firefox */

}
.select_condition .button:hover{
  background-image: url("../image/btn/common_30_on.jpg");
}
.select_condition .button span{
  color: #E0E0E0 !important;
}
.select_condition a{
  text-decoration: none !important;
}

.panel.panel-header.btn-group > a {
  padding-left: 6px;
  padding-right: 6px;
}

/*
---------------------------------------------- */
/* left */
/* ---------------------------------------------- */
.center{
	width: 119px;
}
.left {
	width: 230px;
	padding-right: 10px;
	float: left;
}
.lf_title {
	background-image: url(../image/left_tit.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	background-position: 2px 5px;
	padding-left: 15px;
	line-height: 20px;
	color: #999999;
  text-align: left;
}
.left_bg {
	width: 220px;
	padding-right: 5px;
	float: left;
	padding-left: 5px;
	background-image: url(../image/left_2.gif);
	background-repeat: repeat-y;
}

/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */

.footer {
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 12px;
	color: #5B5B5B;
	text-align: right;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	background-color: #e9e9e9;
}
/* ---------------------------------------------- */
/* graph chart Highcharts*/
/* ---------------------------------------------- */
.highcharts {
	width: 450px;
	height: 250px;
	margin: 0 auto;
}
.highcharts1 {
	width: 450px;
	height: 350px;
	margin: 0 auto;
}
.highcharts425 {
	width: 425px;
	height: 350px;
	margin: 0 auto;
}
.w485{
 width: 475px;
 padding: 0px;
  }
.modal-1000 {
    width: 1000px;
}
/* ---------------------------------------------- */
/* btn */
/* ---------------------------------------------- */
.btn {/*replace bootstrap css*/
	padding-right: 8px;
	padding-left: 8px;
}

.btn_bg {
	background-image: url(../image/btn_2.gif);
	background-repeat: repeat-x;
	line-height: 20px;
	height: 20px;
	padding-right: 5px;
	padding-left: 5px;
}
.btn_bg A:link {
	color:#FFFFFF;
	text-decoration:none;
}
.btn_bg A:hover {
    color:#FFFFFF;
	text-decoration:none;
}
.btn_bg A:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.btn2_bg {
	background-image: url(../image/btn2_2.gif);
	background-repeat: repeat-x;
	line-height: 40px;
	height: 40px;
	font-size: 16px;
	padding-right: 15px;
	padding-left: 15px;
}
.btn2_bg A:link {
	color:#FFFFFF;
	text-decoration:none;
}
.btn2_bg A:hover {
    color:#FFFFFF;
	text-decoration:none;
}
.btn2_bg A:visited {
	color:#FFFFFF;
	text-decoration:none;
}

.btn2_bg A:active {
	color:#FFFFFF;
	text-decoration:none;
}
.btn2_2_bg {
	background-image: url(../image/btn2_2.jpg);
	background-repeat: repeat-x;
	line-height: 48px;
        width:210px;
        text-align:center;
	height: 10px;
	font-size: 17px;
	padding-right: 16px;
	padding-left: 16px;
}
.btn2_2_bg A:link {
	color:#FFFFFF;
	text-decoration:none;
}
.btn2_2_bg A:hover {
    color:#FFFFFF;
	text-decoration:none;
}
.btn2_2_bg A:visited {
	color:#FFFFFF;
	text-decoration:none;
}

.btn2_2_bg A:active {
	color:#FFFFFF;
	text-decoration:none;
}
.login_form {
	color: #555555;
	background-color: #f9f9f9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: ridge;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
	padding-left: 3px;
}
.form {
	color: #555555;
	background-color: #f9f9f9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: ridge;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
	padding-left: 3px;
}
.form_no_h {
	width:100%;
    font-family: "MS PGothic";
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    background-color: #f9f9f9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: ridge;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #cccccc;
    border-right-color: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    padding-left: 0px;
}
.btn3_bg {
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
	background-image: url(../image/btn3_bg.gif);
	background-repeat: repeat-x;
}
.btn3_bg_1 {
    line-height: 24px;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    background-color: #C1A58C;
}
.btn4_bg {
	line-height: 24px;
	border: 1px solid #cccccc;
	font-size: 14px;
	color: #999999;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
}
.btn5_bg {
	line-height: 24px;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-image: url(../image/btn3_bg.gif);
	background-repeat: repeat-x;
}
.btn6_bg {
	line-height: 24px;
	border: 1px solid #cccccc;
	font-size: 14px;
	color: #999999;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}


/* ---------------------------------------------- */
/* font */
/* ---------------------------------------------- */
.red {
	color: #FF0000;
}
.red2 {
    color: #FF0000;
    text-decoration: underline;
    font-weight: bold;
}
.blue{
	color: blue;
}
.waterblue {
    color: #00BFFF;
}
.green {
	color: #00FF00;
}
.big_ft {
	font-size: 14px;
}
.big_ft2 {
	font-size: 14px;
	font-weight: bold;
}
.big_ft3 {
    font-size: 18px;
    font-weight: bold;
}
.big_ft4 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.bold {
	font-weight: bold;
}
.bold2 {
	font-weight: bold;
	text-decoration: underline;
}
.nowrap{
	white-space: nowrap;
}
.no_underline A:hover A:active {
	text-decoration:none;
}
.help {
	font-size: 28px;
	color: pink;
	text-shadow:1px 1px 0px rgba(1,1,1,0.4);
}
.help1 {
	padding:10px;
	font-size: 70px;
	color: pink;
	text-shadow:-1px -1px 0px rgba(1,1,1,0.4);
}
.info {
	font-size: 28px;
	color: khaki;
	text-shadow:1px 1px 0px rgba(1,1,1,0.4);
}
.info1 {
	padding:10px;
	font-size: 70px;
	color: khaki;
	text-shadow:-1px -1px 0px rgba(1,1,1,0.4);
}

/* ---------------------------------------------- */
/* cont */
/* ---------------------------------------------- */
.cont_bg {
	background-image: url(../image/cont_2.gif);
	background-repeat: repeat-y;
	width: 960px;
	padding-right: 10px;
	padding-left: 10px;
}
.s_title {
	background-image: url(../image/ic_bullet2.gif);
	background-repeat: no-repeat;
	padding-left: 17px;
	font-size: 16px;
	font-weight: bold;
	background-position: 3px 5px;
	line-height: 20px;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #737373;
}
.s_title2 {
	background-image: url(../image/ic_bullet2.gif);
	background-repeat: no-repeat;
	padding-left: 17px;
	font-size: 12px;
	font-weight: bold;
	background-position: 3px 5px;
	line-height: 20px;
	height: 20px;

}

.s_title4 {
	background-image: url(../image/left_arrow2.gif);
	background-repeat: no-repeat;
	padding-left: 17px;
	font-size: 12px;
	background-position: 3px 5px;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
}

/* ---------------------------------------------- */
/* menu */
/* ---------------------------------------------- */
.menu_bg {
	width: 960px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C6C6C6;
}
.menubar {
	font-family: "MS PGothic";
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	color: #1c2125;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../image/menu2.gif);
	background-repeat: repeat-x;
}
.menubar_over {
	font-family: "MS PGothic";
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../image/menu2_over.gif);
	background-repeat: repeat-x;
	padding-top: 3px;
}
.menubar A:link {
	color:#878787;
	text-decoration:none;
}
.menubar A:hover {
	color:#000177;
	text-decoration:none;
}
.menubar A:visited {
    color:#878787;
	text-decoration:none;
}

.menubar A:active {
    color:#878787;
	text-decoration:none;
}

.menubar_area {
	width: 3px;
}
/* ---------------------------------------------- */
/* table */
/* ---------------------------------------------- */
.report_bg {
	background-image: url(../image/hit_bg.gif);
	background-repeat: no-repeat;
	line-height: 50px;
	height: 50px;
	width: 455px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
}
.report_bg2 {
	background-image: url(../image/hit_bg2.gif);
	background-repeat: no-repeat;
	line-height: 50px;
	height: 50px;
	width: 83px;
	font-size: 16px;
	color: #FFFFFF;
	padding-left: 35px;
	font-weight: bold;
}
.table_bg {
	color: #202020;
	font-family: "MS PGothic";
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #d7d7d7;
	border-left-color: #d7d7d7;
}
.table_tit1 {
	background-color: #F5F5F5;
	font-family: "MS PGothic";
	color: #666666;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	text-align: left;
	font-weight: bold;
}
.table_tit2 {
	background-color: #f7f7f7;
	font-family: "MS PGothic";
	color: #202020;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
}
.table_cline{
	background-color: #d7d7d7;
	height: 1px;
}
.table_cont1 {
	color: #555555;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: left;
	line-height: 20px;
	background-color: #F5F5F5;
}

.table_cont1 .notice{
	line-height: 150%;
	color: #F00;
}
.table_cont2 {
	padding-top: 2px;
	font-family: "MS PGothic";
	font-size: 12px;
	line-height: 20px;
	color: #555555;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	text-align: center;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 5px;
}
.pop_cont2 {
	width: 500px;
	background-color: #FFFFFF;
	padding-left: 10px;
	background-image: url(../image/center_menu_bg2_p.gif);
	background-repeat: repeat-y;
}
.pop_bg {
	width: 500px;
	height: 10px;
}
/* ---------------------------------------------- */
/* count */
/* ---------------------------------------------- */
.count_bg1 {
	background-image: url(../image/count_1.gif);
	background-repeat: no-repeat;
	height: 74px;
	width: 184px;
	color: #000000;
	padding-left: 48px;
	padding-right: 58px;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	padding-top: 13px;
}

.errmsg { color:red; font-weight: bolder; }
/* ---------------------------------------------- */
/* menu_bg */
/* ---------------------------------------------- */
.menubtn_bg {
	background-image: url(../image/menu_bg.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100px;
	padding-left: 10px;
	padding-right: 30px;
}

.menubtn_bg .col-sm-7{
	margin-top: 15px;
}

/* ---------------------------------------------- */
/* box */
/* ---------------------------------------------- */
.box{
  border: 1px solid #c8c8c8;
  margin: 20px;
}
.box2{
  border: 2px solid #c8c8c8;
  margin: 20px;
}
.r10{
  border-radius: 10px;  /* CSS3 */
  -webkit-border-radius: 10px;  /* Safari,Google Chrome */
  -moz-border-radius: 10px;  /* Firefox */
}

.box_top {
    background-image: url(../image/box_top.gif);
    background-repeat: repeat-x;
    height: 10px;
}
.box_bottom {
    background-image: url(../image/box_bot.gif);
    background-repeat: repeat-x;
    height: 10px;
}
.box_left {
    background-image: url(../image/box_left.gif);
    background-repeat: repeat-y;
    width: 10px;
}
.box_right {
    background-image: url(../image/box_rig.gif);
    background-repeat: repeat-y;
    width: 10px;
}

/* ---------------------------------------------- */
/* faq */
/* ---------------------------------------------- */
.faq_bg {
	background-image: url(../image/faqbg.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 680px;
	padding-left: 10px;
	padding-top: 13px;
	font-weight: bold;
	font-size: 14px;
	color: #FF0000;
}
/* ---------------------------------------------- */
/* privacy */
/* ---------------------------------------------- */
.pri_bg {
	height: 51px;
	background: url(../image/pribg2.png) left top no-repeat;
	width: 200px;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 17px;
	font-size: 14px;
	vertical-align: middle;
}
.pri_bg_death {
	height: 51px;
	background: url(../image/pribg_death.png) left top no-repeat;
	width: 200px;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 17px;
	font-size: 14px;
	vertical-align: middle;
}
.pri_user {
	height: 32px;
	background: url(../image/pri_user2.png) left top no-repeat;
	width: 200px;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 6px;
	font-size: 14px;
	vertical-align: middle;
}
.pri_kakko {
	height: 32px;
	background: url(../image/priwhite.png) left top no-repeat;
	width: 312px;
	padding-left: 10px;
	padding-top: 6px;
	vertical-align: middle;
}


/* ---------------------------------------------- */
/* regulation (2013/02/13 added) */
/* ---------------------------------------------- */
ol.listNumber{
    margin-top:0px;
    margin-bottom:0px;
	padding-left:20px;
	*margin-left:8px;
}

ol.listNumber li.padSpace{
	padding-bottom:15px;
}

ul.listDisc li{
	list-style-type:disc;
	margin-left:20px;
}

/* ---------------------------------------------- */
/* compe login */
/* ---------------------------------------------- */

.compe_login_form{
	font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	font-weight: bold;
}
.compe_login_form .title{
	color:#88F;
}
/*.step_bar{
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	color:#999;
}
.step_bar td.on{
	font-size: 15px;
	font-weight: bold;
	color:#88F;
}*/


.login_comp td{
  line-height: 300%;
}

.login_comp .table_cont1{
	white-space: nowrap;
}

.research_name,
.clear_text{
	vertical-align: middle;
}
.placeholder{
	color: #999;
}

/* ---------------------------------------------- */
/* pickup score sheet */
/* ---------------------------------------------- */

.pickup_score_form{
	font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	font-weight: bold;
}
.pickup_score_form .title{
	color:#88F;
}

.pickup_score td{
  line-height: 300%;
}

.pickup_score .table_cont1{
	white-space: nowrap;
}

.research_name,
.clear_text{
	vertical-align: middle;
}
.opp_placeholder{
	color: #999;
}

.scoresheet_dl{
  text-align: center;
}

/* ---------------------------------------------- */
/* main_menu */
/* ---------------------------------------------- */
.floatl{
	float: left;
}
.xebiocup_scoresheet{
  padding: 5px 0;
}
.comp_entry .banner{
  float: left;
  font-weight: bold;
}
.comp_entry{
  margin-left: 60px;
}

.comp_entry .single .banner{
  width: 100%;
}
.comp_entry .multi .banner{
  width: 50%;
}
.comp_entry a{
  margin-right: 5px;
  float: left;
}

.comp_entry .single .detail{
  float: left;
  font-size: 20px;
  padding: 15px 10px;
}
.comp_entry .multi .detail{
  width: 100%;
  font-size: 15px;
  padding: 10px 0px;
}

.comp_entry span.comp_name{
  color: #444;
}
.comp_entry span.block_name{
  color: #888;
}

.comp_entry_visitor .banner{
  float: left;
  font-weight: bold;
}
.comp_entry_visitor img{
  height: 80px;
}
.comp_entry_visitor .single .banner{
  width: 100%;
}
.comp_entry_visitor .multi .banner{
  width: 33%;
  text-align: center;
}
.comp_entry_visitor .single a{
  float: left;
  margin-right: 5px;
}
.comp_entry_visitor .multi a{
  margin-right: 5px;
}

.comp_entry_visitor .single .detail{
  float: left;
  font-size: 20px;
  padding: 30px 10px;
}
.comp_entry_visitor .multi .detail{
  width: 90%;
  font-size: 15px;
  margin: 0 auto;
}

.comp_entry_visitor span.comp_name{
  color: #444;
  text-align: center;
}

/* ---------------------------------------------- */
/* DatePicker */
/* ---------------------------------------------- */
div.ui-datepicker, .ui-datepicker td{
 font-size:80.5%;
}
.ui-datepicker-sunday .ui-state-default {
	color:red
}
/*土曜日の背景を変える */
.ui-datepicker-saturday .ui-state-default {
	color:blue
}


/* ---------------------------------------------- */
/* box */
/* ---------------------------------------------- */
.box_top {
    background-image: url(../image/box_top.gif);
    background-repeat: repeat-x;
    height: 10px;
}
.box_bottom {
    background-image: url(../image/box_bot.gif);
    background-repeat: repeat-x;
    height: 10px;
}
.box_left {
    background-image: url(../image/box_left.gif);
    background-repeat: repeat-y;
    width: 10px;
}
.box_right {
    background-image: url(../image/box_rig.gif);
    background-repeat: repeat-y;
    width: 10px;
}
.tr_first{
	font-size: 11px;
}
table.clickable_list {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #d7d7d7;
	border-left-color: #d7d7d7;
}
table.clickable_list tr:hover {
	background-color: #ffffb0;
}
table.clickable_list tr {
	background-color: #F5F5F5;
}

table.clickable_list th {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	color: #000000;
	background-color: #C6C6C6;
}

table.clickable_list tr#batterTitle td{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	color: #000000;
	background-color: #C6C6C6;
}

table.clickable_list td {
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
	border-bottom-color: #d7d7d7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(255, 255, 255);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #d7d7d7;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(255, 255, 255);
	border-top-style: solid;
	border-top-width: 1px;
	line-height: 20px;
	font-size: 12px;
	height: 30px;
}

table.clickable_list tr.unsubcribe{
  text-decoration:line-through;
  background:#FBB;
}

table.clickable_analysis {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #d7d7d7;
	border-left-color: #d7d7d7;
}
table.clickable_analysis tr:hover {
	background-color: #ffffb0;
}
table.clickable_analysis tr {
	background-color: #F5F5F5;
}
table.clickable_analysis th {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	color: #000000;
	background-color: #C6C6C6;
}
table.clickable_analysis td {
	background-attachment: scroll;
	background-clip: border-box;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
	border-bottom-color: #d7d7d7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(255, 255, 255);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #d7d7d7;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(255, 255, 255);
	border-top-style: solid;
	border-top-width: 1px;
	line-height: 20px;
	font-size: 12px;
}
/* ---------------------------------------------- */
/* mypage */
/* ---------------------------------------------- */
#select_comp{
  font-size: 16px;
}
.team_page{
  width: 980px;
}

/* ---------------------------------------------- */
/* ranking */
/* ---------------------------------------------- */
/*.rank_region,*/
.ranking{
  width: 960px;
}
.rank_region table{
	font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
.r_title{
	font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
.float{
	float: right;
	font-size: 16px;
}
.float.top{
	float: right;
	font-size: 16px;
}

table.rank_detail_b{
	border-top: 1px dotted;
	background: #F8F8F8;
}
.r_detail_title{
	text-align: center;
	font-size:23px;
	font-weight:bold;
	line-height:1.4;
}
.rank{
	white-space: nowrap;
}

.ranking_table{
	border-bottom: 1px dotted;
}
.ranking_table td{
	padding: 0px 5px 0px 5px;
}
.ranking_table .rank{
  min-width: 30px;
}
.ranking_table .score_value{
  min-width: 65px;
}
.ranking_table .unit{
  min-width: 20px;
}
.ranking_table .side{
  min-width: 20px;
}

.comp_tab{
	font-size: 14px;
	/* width: 150px; */
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	cursor: pointer;
	background: url("../image/menu2_2.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #000177;
}
.comp_tab2{
	font-size: 14px;
	/* width: 150px; */
	padding-left: 5px;
	padding-right: 5px;
	height: 23px;
	text-align: center;
	cursor: pointer;
	background: url("../image/menu2_3.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.comp_tab a, .comp_tab2 a{
	text-decoration:none;
  color: #585858;
}
.comp_tab.on a, .comp_tab2.on a{
  color: #FFF;
}
.comp_tab.on{
	cursor: default;
	background-image: url("../image/menu2_2_on.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*color: #FFF;*/
}
.comp_tab2.on{
	cursor: default;
	background-image: url("../image/menu2_3_on.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #FFF;
}
.comp_tab:hover{
	background-image: url("../image/menu2_2_on.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.comp_tab2:hover{
	background-image: url("../image/menu2_3_on.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.comp_tab:hover a,
.comp_tab2:hover a{
	color:#FFF;
}
.time_stamp{
	font-size: 15px;
}

/* ---------------------------------------------- */
/* player_type */
/* ---------------------------------------------- */

.report_bat{
	background-image: url(/design/image/rank/batter.png);
	background-repeat: no-repeat;
}
.report_pit{
	background-image: url(/design/image/rank/pitcher.png);
	background-repeat: no-repeat;
}

.type_area{
  line-height: 1;
  max-width: 512px;
	font-size: 24px;
	vertical-align: top;
	color: #D00;
}
.type_area span{
	text-align: center;
	margin-bottom: 30px;
}
.type_area div{
	margin-bottom: 20px;
}

div.pl_info {
	font-size:28px;
	font-weight:bold;
}
div.pl_info span {
	white-space: nowrap;
	line-height: 35px;
}
div.pay_value, div.rank_value {
	font-size:35px;
	font-weight:bold;
}
.memo{
	font-weight: bold;
	margin-bottom: 10px;
}
.memo .title{
  font-size: 24px;
	line-height: 1.4;
}
.memo .article{
	word-break:break-all;
  font-size: 16px;
	line-height: 2;
	padding-left: 10px;
}
.alert{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #0D0;
}
.alert-danger{
  padding: 5px;
  text-indent : -15px;
  padding-left : 45px;
}

.type_image{
	/*height: 360px;*/
	width: 400px;
	/*background-image: url(/design/image/rank/rank.png);*/
	/*margin-left: 20px;*/
	margin-right: 30px;
	border: 1px solid #000;
}
table.player_type{
	height: 168px;
	vertical-align: middle;
}

table.player_type td{
	line-height: 1.2;
}
table.score_region{
	width:490px;
	/*width:930px;*/
}
table.score_region td.caption{
	font-size: 18px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #737373;
}
table.score_region .t_title{
	background-image: url(../image/ic_bullet2.gif);
	background-repeat: no-repeat;
	padding-bottom: 0px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;
	background-position: 3px 5px;
	line-height: 1;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #737373;
	width: 930;
}
.radar_img img{
	margin-right: 30px;
	/*border: 1px solid #000;*/
}
table.score_region tr{
  vertical-align: top;
}
table.score_region td{
	/*padding-top: 3px;*/
}
table.score_region .float{
	float: right;
  margin-right: 140px;
}
table.score_region .ref_annual_salary{
	width:128px;
	text-align: right;
}
table.score_region .ref_side{
	min-width:28px;
}
.detail_region .radar_img{
	vertical-align:bottom;
}
.detail_region td{
	vertical-align: middle;
}
.score_detail{
	font-weight: bold;
}
.score_detail td{
	/*padding-top: 5px;
	padding-bottom: 5px;*/
}
.score_detail .logo{
	width: 100px;
}
.score_detail .score.inning{
	/*padding-left: 0px;
	padding-right: 0px;*/
  width: auto;
	white-space:nowrap;
}
.score_detail .score{
	font-size: 28px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
  width: 80px;
}
.score_detail .ref{
	font-size: 20px;
	line-height: 110%;
	color: #888;
  width: 240px;
	white-space: nowrap;
}
.score_detail img{
	vertical-align: bottom;
}

table.ref_region{
	width:930px;
}
table.ref_region .t_title{
	background-image: url(../image/ic_bullet2.gif);
	background-repeat: no-repeat;
	padding-bottom: 0px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;
	background-position: 3px 5px;
	line-height: 1;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #737373;
	width: 930;
}
table.ref_region tr{
  vertical-align: top;
}
table.ref_region td{
	font-size: 20px;
	line-height: 1.4;
	padding-left: 10px;
	font-weight: bold;
	min-width: 65px;
}table.ref_region .ref_annual_salary{
	width:180px;
	text-align: right;
}

/* Date picker */
div.ui-datepicker, .ui-datepicker td{
 font-size:80.5%;
}
.ui-datepicker-sunday .ui-state-default {
	color:red
}
/*土曜日の背景を変える */
.ui-datepicker-saturday .ui-state-default {
	color:blue
}

.score_name{
  width: 100px;
}
img.score_bar{
	position: relative;
	height: 22px;
}
div.score_bar_back{
	background: #EEE;
	border: 1px solid #CCC;
	width: 95%;
}
img.score_bar{
	background: #E00;
	border: none;
}
.box_round_blue{
	height: 100px;
	width: 600px;
  display: table;
	background-color: #49C;
	border-radius: 10px;
	border: 3px solid #25C
}
#site_top{
	width: 600px;
	font-size: 30px;
}
#site_top_link{
	text-decoration: none;
	font-size: 25px;
	color: #FFF;
	display: table-cell;
  vertical-align: middle;
}
#pagetop{
	font-size: larger;
	font-weight: bold;
}
#top{
	/*text-decoration: none;*/
		color: #6CF;
}
#top:hover{
	color: #999;
}
.ref_player{
	font-size: 20px;
	font-weight:bold;
	line-height: 2;
}
span.pay_title{
	font-size: 20px;
	font-weight:bold;
}

.rank_typelink{
	font-size: 10px;
	font-weight: bold;
}

/* ---------------------------------------------- */
/* area of share buttons area */
/* ---------------------------------------------- */

.share_report{
	height: 100px;
	/*width: 600px;*/
}
/*.btn{
  margin: 0px;
	padding: 0px;
}*/
.twitter.btn{
	border-spacing: 0px;
}
.fb.btn{
	border-spacing: 0px;
}

/* ---------------------------------------------- */
/* manager mail */
/* ---------------------------------------------- */

.mail_tb{
	width: 128px;
	background: url(../image/menu_m.gif);
	text-align: center;
}
.mail_tb.on{
	background: url(../image/menu_m_on.gif);
	color: #FFF;
}
.mail_tb.on a{
color: #FFF;
}
.mail_tb a{
	text-decoration: none;
	color: #333;
}
.mail_tb:hover{
	background: url(../image/menu_m_on.gif);
}
.mail_tb:hover a{
	color: #FFF;
}

.mail_btn a{
	text-decoration: none;
}

.nowrap{
	white-space: nowrap;
}

.acMenu{
  cursor:pointer;
}
.acCont{
  display:none;
}
.acCont td{
	max-width: 815px;
}
.acCont th{
	max-width: 815px;
}
.acCont pre{
	min-height: 100px;
	height: auto;
	width: 99%;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 3px;
	resize: none;
	background: #FFF;
	border: 1px solid #000;

}

/* ---------------------------------------------- */
/* manager team */
/* ---------------------------------------------- */

.compe_row .select_compe{
	padding: 5px 0;
}
.compe_row #team_comp_id{
	width: 200px;
}
.compe_row #team_block_id{
	width: 150px;
}
.compe_row .dot_line{
	margin: 2px 0;
}

.compe_row .button{
	margin: 0 10px;
}

.radio_type input{
  vertical-align: middle;
}
/* ---------------------------------------------- */
/* manager competition */
/* ---------------------------------------------- */

.small{
	font-size: 11px;
}
/* ---------------------------------------------- */
/* manager information */
/* ---------------------------------------------- */

#info_comp_id{
  width: 220px;
}
#info_block_id{
  width: 180px;
}
.placeholder{
	color: #999;
}
.placeholder option{
	color: #000;
}

/* ---------------------------------------------- */
/* DatePicker */
/* ---------------------------------------------- */
div.ui-datepicker, .ui-datepicker td{
 font-size:80.5%;
}
.ui-datepicker-sunday .ui-state-default {
	color:red
}
/*土曜日の背景を変える */
.ui-datepicker-saturday .ui-state-default {
	color:blue
}

.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    float: none;
}

.clear_both {
    clear: both;
}

/* ---------------------------------------------- */
/* game inputs */
/* ---------------------------------------------- */
table.black{
 background: black;
}
table#ballCatcherLabel {
    width: 165px;
}
div#ballResultOpt {
  margin: 10px 0;
}
table#tblInningError th,
table#tblInningError td
{
  line-height: 18px;
  padding: 2px;
}
table#tblBaseInfo td {
  white-space: nowrap;
  vertical-align: middle;
}
#ballInfoPopupInfo {
  padding-left: 0;
}
#ballInfoPopupInfo table {
  margin: 2px 0px;
}
#ballInfoPopupInfo label {
    margin: 0 20px;
}
table#tblAddBallInfo th,
table#tblAddBallInfo td
{
  vertical-align: middle;
}
table#tblHitScore {
    width: 100%;
}
table#tblHitScore th{
  text-align: center;
}
#exHitPopupForm .panel th{
  text-align: center;
  white-space: nowrap;
}
#exHitPopupForm .panel td label{
  white-space: nowrap;
}
#popErrorTable {
  width: 300px;
}

/* ---------------------------------------------- */
/* Input chg */
/* ---------------------------------------------- */

  #ballInfoPopupForm input:read-only {
    background-color: #EEE;
  }
  #tblBallCourseDetail{
    height: auto;
  }
  #tblBallCourseDetail .gib_breaking_ball_d{
    width: 100%;
    height: 80px;
  }
  #tblBallCourseDetail span.NG{
    color: gray;
  }
  div#tblBallCourseDetail > div {
    height: 400px;
  }
  div#tblBallCourseDetail > div:not(:first-child) {
    padding-left: 0;
  }
  div#btnPopBallCourseLabel {
    height: 20px;
    line-height: 8px;
    font-size: 15px;
    margin-top: 5px;
  }


  .ok_region{
    margin: 10px auto;
    width: 180px;
    height: 20px;
  }
  .ok_region > div{
    margin: 0 5px;
    float: left;
  }

  .bcd_course {
    text-align: center;
    height: 96%;
  }
  .bcd_course .panel-body{
    padding-top: 2px;
  }

  .bcd_course .ball_table input{
    display: none;
  }
  .bcd_course .ball_table .curve td.on{
    background-color: rgba(255, 255, 0, 0.5);
  }
  .bcd_course .ball_table .pos td.on{
    background-color: rgba(255, 255, 0, 1);
  }

  .bcd_course .ball_table td.curve{
    background-repeat: no-repeat;

  }
  .bcd_course .ball_table td.curve.arrow_l{
    background-image: url("../image/analysis/course_left.png");
  }
  .bcd_course .ball_table td.straight{
    background-image: url("../image/analysis/course_center.png");
  }
  .bcd_course .ball_table td.curve.arrow_r{
    background-image: url("../image/analysis/course_right.png");
  }
  .bcd_course .ball_table td.curve.arrow_ld{
    background-image: url("../image/analysis/course_leftdown.png");
  }
  .bcd_course .ball_table td.curve.arrow_d{
    background-image: url("../image/analysis/course_down.png");
  }
  .bcd_course .ball_table td.curve.arrow_rd{
    background-image: url("../image/analysis/course_rightdown.png");
  }



  .bcd_course .batter{
    width: 110px;
    height: 220px;
    margin-top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
  }
  .bcd_course .batter.on{
    opacity: 1;
  }
  .bcd_course .batter.off{
    display: none;
  }
  .bcd_course .batter.left{
    background-image: url("../image/analysis/batter_left.png");
    float: left;
    left: 90px;
  }
  .bcd_course .batter.right{
    background-image: url("../image/analysis/batter_right.png");
    float: right;
    right: 50px;
  }
  .bcd_course .base{
    width: 88px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0px auto;
  }
  .bcd_course .base.batter_side{
    background-image: url("../image/analysis/homebase_batter.png");
  }
  .bcd_course .base.pitcher_side{
    background-image: url("../image/analysis/homebase_pitcher.png");
  }

  .bcd_course .ball_table{
    width: 100%;
    position: relative;
    top: 10px;
  }
  .bcd_course .ball_table table{
    margin: 5px auto;
  }

  .bcd_course .ball_table table.curve tr{
    height: 25px;
  }
  .bcd_course .ball_table table.curve td{
    min-width: 80px;
  }

  .bcd_course .ball_table table.pos{
    background-image: url("../image/analysis/pitcher_right.png");
    border: 3px solid #000;
    background-repeat: no-repeat;
    background-position: 60px;
    margin-top: 10px
  }
  .bcd_course .ball_table table.pos.ths_left{
    background-image: url("../image/analysis/pitcher_left.png");
  }
  .bcd_course .ball_table table.pos.catcher{
    background-image: url("../image/analysis/catcher.png");
    background-position: 30px;
  }
  .bcd_course .ball_table table.pos td {
    opacity: 0.5
  }

  .bcd_course .ball_table .img{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .bcd_course .ball_table span{
    font-size: 12px;
  }

  .bcd_course td{
    background-color: #F8F8F8;
  }
  .bcd_course .pos td{
    width: 32px;
  }
  .bcd_course .pos tr{
    height: 32px;
  }


  .bcd_course td div{
    height: 100%;
  }
  .bcd_course td.strike{
    background-color: #888;
  }
  .bcd_course td.ball{
    background-color: #CCC;
  }
  .bcd_course .curve{
    background-size: 15px;
    background-position: 36px 3px;
  }
  .bcd_course .curve input{
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
  }

  .bcd_result > div > div{
    margin: 10px 0px;
  }
  .bcd_result .submit {
    float: right;
  }
  .bcd_result #select_action span{
    font-size: 12px;
  }
  .bcd_result .checkbox{
    margin: 20px 0px 0px 10px;
  }
  #select_action > div {
    text-align: center;
    /*width: 50%;*/
    /*float: left;*/
    padding: 0px;
  }
  #select_action input {
    display: none;
  }
  #select_action .radio_label {
    margin: 1px;
    font-weight: bold;
    line-height: 150%;
    border-bottom: 2px solid #CCC;
    background-color: #EEE;
  }
  #select_action .radio_label.on span {
    color: white;
  }

  #select_action .radio_label.strike{
    color: orange;
  }
  #select_action .radio_label.ball{
    color: green;
  }
  #select_action .radio_label.result{
    color: blue;
  }
  #select_action .radio_label.other{
    color: red;
  }

  #select_action .radio_label.strike.on{
    background-color: orange;
  }
  #select_action .radio_label.ball.on{
    background-color: green;
  }
  #select_action .radio_label.result.on{
    background-color: blue;
  }
  #select_action .radio_label.other.on{
    background-color: red;
  }

  #tblAddBallInfo input.ball_stat {
    display: none;
  }
  #tblAddBallInfo td.strike.on {
    background-color: #FF4;
  }
  #tblAddBallInfo td.ball.on {
    background-color: #4F4;
  }
  #tblAddBallInfo td.result.on {
    background-color: #44F;
  }
  #tblAddBallInfo td.other.on {
    background-color: #F44;
  }

  select.clsPitcher {
    width: 90%;
  }

  #btnPopBallCourseOK {
    width: 180px;
    font-weight: bold;
    color:white;
  }

  /* ---------------------------------------------- */
  /* course analysis */
  /* ---------------------------------------------- */
  #course_analysis .panel-body {
    padding: 5px;
  }
  #course_analysis .bcd_course {
    text-align: center;
    float: left;
  }
  #course_analysis .filter_ball > div {
    /*padding: 5px*/
  }
  #course_analysis .row > div:not(:first-child) {
    padding-left: 4px;
  }
  #course_analysis .row > div:not(:last-child) {
    padding-right: 4px;
  }
  #course_analysis div#filter {
    width: 310px;
  }
  #course_analysis div#filter select {
    width: 100%;
    height: 310px;
  }
  #course_analysis div#filter .filter_inning > .s_title {
  }
  #course_analysis div#sequence  {
    width: 470px;
  }
  #course_analysis div#summary  {
    width: 170px;
  }
  #course_analysis div#filter .btn-primary {
    margin: 5px 0;
    width: 85px;
    padding: 2px;
  }
  #course_analysis div#filter .filter_option.onegame {
      height: 56px;
      line-height: 60px;
      margin-left: 10px;
  }
  #course_analysis div#filter .filter_option.all {
    margin-top: 20px;
  }

  #common_course:after {
    content: "";
    clear: both;
    display: block;
  }
  #common_course > div {
    float: left;
  }
  #common_course > div:not(:first-child) {
    padding-left: 5px;
  }
  #common_course > div:not(:last-child) {
    padding-right: 5px;
  }
  #common_course .panel-body {
    height: 490px;;
  }
  #common_course hr {
    margin: 5px;
  }
  #common_course .s_title {
    font-size: 12px;
    padding-left: 15px;
    background-position: 2px 5px;
    white-space: nowrap;
  }
  #common_course .s_title.height2 {
    height: 40px;
    background-position: 2px 25px;
  }
  #common_course .s_title.height2 div.player_info {
    display: inline-block;
  }
  #common_course span.s_title2 {
    background-position: 2px 1px;
  }
  #common_course .option:not(:first-child){
    margin-left: 20px;
  }
  #common_course .row {
      margin-bottom: 10px;
  }


  #summary .region {
    margin-bottom: 5px;
  }
  #summary .panel-body {
    padding: 10px;
  }
  #summary .region div.value{
    float: right;
  }
  #summary .region > div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #summary .region .detail {
    margin-left: 15px;
  }
  #summary .batter_list.region .description {
    float: left;
    margin-top: 0;
  }
  #summary .batter_list.region .list {
    float: right;
    width: 100px;
    height: 50px;
    overflow-y: scroll;;
  }
  #summary .batter_list.region .list li {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #summary .value span {
    font-size: 15px;
    font-weight: bold;
  }
  #summary .ul .li > .result .title {
    font-size: 15px;
    font-weight: bold;
  }


  #sequence .panel-body{
    position: relative;
  }
  #sequence .batter{
    bottom: 40px;
  }
  #sequence .batter.right{
    right: 40px;
  }
  #sequence .batter.left{
    left: 85px;
  }
  #sequence .batter.val{
    opacity: 1;
  }

  #sequence td{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #sequence .strike:nth-child(3n+2){
    border-left: 2px solid;
  }
  #sequence .strike:nth-child(3n+1){
    border-right: 2px solid;
  }
  #sequence tr:nth-child(2) .strike{
    border-top: 2px solid;
  }
  #sequence tr:nth-child(4) .strike{
    border-bottom: 2px solid;
  }

  #sequence table.curve{
    margin-bottom: 60px;
    margin-top: 20px;
  }
  #sequence table.curve tr{
    height: 30px;
  }
  #sequence table.curve tr.dummy_tr{
    height: 0px;
  }
  #sequence table.curve td{
    background-position: 6px 6px;
  }
  #sequence table.curve td span.val{
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  #sequence table.curve td span.noselect{
    display: inline-block;
    margin-left: 0px;
  }

  #sequence table.pos tr{
    height: 32px;
  }
  #sequence table.pos td{
    width: 32px;
  }

  #sequence td.on{
    border: 3px solid #ff0000 !important;
  }
  #sequence td .val{
    color: #FFF;
    font-weight: bold;
  }
  #sequence td .val.on{
    color: #000;
  }
  #sequence td.on.color_0{
    background-color: rgba(150, 0, 255, 0.6);
  }
  #sequence td.on.color_2{
    background-color: rgba(0, 60, 255, 0.6);
  }
  #sequence td.on.color_4{
    background-color: rgba(0, 255, 78, 0.6);
  }
  #sequence td.on.color_6{
    background-color: rgba(255, 200, 0, 0.6);
  }
  #sequence td.on.color_8{
    background-color: rgba(255, 0, 0, 0.6);
  }
  #sequence td.on.color_10{
    background-color: rgba(255, 0, 0, 0.6);
  }

  #sequence .colorbar {
    background-image: url("../image/analysis/heatmap_meter.png");
    position: absolute;
    top: 20px;
    right: 15px;
    background-repeat: no-repeat;
    height: 95px;
    width: 26px;
    float: right;
  }

  #sequence .ball_table {
    top: 15px;
  }

  #sequence .score.batter {
    opacity: 1;
    font-weight: bold;
    width: 450px;
    top: 130px;
  }
  #sequence .score.batter > div {
    width: 105px;
  }
  #sequence .score.batter > div > div {
    margin-bottom: 5px;
  }
  #sequence .score.batter .left {
    float: left;
  }
  #sequence .score.batter .right {
    float: right;
  }
  #sequence .score.batter .ratio{
    margin-bottom: 15px;
    height: 70px;
    font-size: 12px;
  }

  #sequence .ratio .title {
    text-align: center;
    font-size: 16px;
  }
  #sequence .ratio .pit_side_right {
    margin: 2px;
  }
  #sequence .ratio .pit_side_left {
    margin: 2px;
  }

  #sequence .hhs_right.left .ratio .pit_side_right {
    float: left;
  }
  #sequence .hhs_right.left .ratio .pit_side_left {
    float: right;
  }
  #sequence .hhs_left.right .ratio .pit_side_right {
    float: left;
  }
  #sequence .hhs_left.right .ratio .pit_side_left {
    float: right;
  }

  #sequence .hhs_right.right .ratio .pit_side_right {
    float: right;
  }
  #sequence .hhs_right.right .ratio .pit_side_left {
    float: left;
  }
  #sequence .hhs_left.left .ratio .pit_side_right {
    float: right;
  }
  #sequence .hhs_left.left .ratio .pit_side_left {
    float: left;
  }


  #sequence .score.batter .average{
    font-size: 15px;
  }
  #sequence .score.batter .result{
    margin-top: 20px
  }
  #sequence .score.batter .line{
    position: relative;
    height: 10px;
    width: 35px;
    border-top: 1px solid #000;
  }
  #sequence .score.batter .left .line{
    left: 50px;
    border-left: 1px solid #000;
  }
  #sequence .score.batter .right .line{
    right: -15px;
    border-right: 1px solid #000;
  }
  #sequence .selct_button.region{
    margin: 30px 0;
  }

  #sequence.primary_bat_side.right .hhs_right {
    margin-left: 60px;
  }
  #sequence.primary_bat_side.right .hhs_left {
    display: none;
  }
  #sequence.primary_bat_side.right .score .hhs_right {
    margin-left: 35px;
  }
  #sequence.primary_bat_side.right .score .hhs_right .line {
    width: 60px;
    left: 50px;
  }
  #sequence.primary_bat_side.right .selct_button {
    margin-left: 125px;
  }
  #sequence.primary_bat_side.right table.pos {
    margin-left: 230px;
  }
  #sequence.primary_bat_side.right div.base  {
    margin-left: 265px;
  }


  #sequence.primary_bat_side.left .hhs_left {
    margin-right: 60px;
  }
  #sequence.primary_bat_side.left .hhs_right {
    display: none;
  }
  #sequence.primary_bat_side.left .score .hhs_left {
    margin-right: 35px;
  }
  #sequence.primary_bat_side.left .score .hhs_left .line {
    width: 60px;
    right: 0px;
  }
  #sequence.primary_bat_side.left .selct_button {
    margin-right: 125px;
  }
  #sequence.primary_bat_side.left table.pos {
    margin-right: 230px;
  }
  #sequence.primary_bat_side.left div.base  {
    margin-right: 265px;
  }


  .btn-course {
    text-shadow: 0 0 0;
    background-image: -webkit-linear-gradient(top,#8BF 0,#129 100%);
    background-image: -o-linear-gradient(top,#8BF 0,#129 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#8BF),to(#129));
    background-image: linear-gradient(to bottom,#8BF 0,#129 100%);
    background-repeat: repeat-x;
    color: #FFF;
    font-size: 12px;
    padding: 2px 8px;
  }
  .btn-course.focus,
  .btn-course:focus,
  .btn-course:hover {
    color: #EEE;
    background-image: -webkit-linear-gradient(top,#68A 0,#116 100%);
    background-image: -o-linear-gradient(top,#68A 0,#116 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#68A),to(#116));
    background-image: linear-gradient(to bottom,#68A 0,#116 100%);
  }
  .btn-course.active,
  .btn-course:active {
    color: #FFF;
    background-image: -webkit-linear-gradient(top,#116 0,#68A 100%);
    background-image: -o-linear-gradient(top,#116 0,#68A 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#116),to(#68A));
    background-image: linear-gradient(to bottom,#116 0,#68A 100%);
  }

  #sequence_inning_template {
    display: none;
  }
  #sequence_inning {
    padding-left: 5px;
    padding-right: 10px;
  }
  #sequence_inning:after {
    content: "";
    clear: both;
    display: block;
  }
  #sequence_inning .s_title2 {
    background-position: 3px 2px;
  }
  #sequence_inning hr {
    margin: 0;
    border-color: #CCC;
  }

  #sequence_inning div.sequence_label .result span{
    color: #FFF;
    display: inline-block;
    min-width: 70px;
    text-align: center;
  }
  #sequence_inning div.sequence_label .result .red {
    background-color: #C03;
  }
  #sequence_inning div.sequence_label .result .black {
    background-color: #333;
  }
  #sequence_inning div.sequence_label .result .skyblue {
    background-color: #39C;
  }
  #sequence_inning div.sequence_label .result .green01 {
    background-color: #396;
  }
  #sequence_inning div.sequence_label .result .blue {
    background-color: #36C;
  }
  #sequence_inning div.sequence_label .result .green02 {
    background-color: #366;
  }
  #sequence_inning div.sequence_label .result .gray {
    background-color: #999;
  }

  #sequence_inning .ball_detail {
    border-left: 1px solid #CCC;
  }
  #sequence_inning .canvas {
    width: 100%;
    height: 255px;
    background-repeat: no-repeat;
    position: relative;
    background-position: 4px 0px;
  }
  #sequence_inning .pitcher .canvas {
    background-image: url("../image/analysis/inning_pitcher.png");
  }
  #sequence_inning .pitcher .canvas.left {
    background-image: url("../image/analysis/inning_pitcher_left.png");
  }
  #sequence_inning .catcher .canvas {
    background-image: url("../image/analysis/inning_catcher.png");
  }
  #sequence_inning .ball_detail {
    height: 255px;
    margin-top: 10px;
    overflow-y: scroll;
  }
  #sequence_inning .ball_detail li {
    margin-top: 10px;
  }

  #sequence_inning .ball_icon {
    display: inline-block;
    background-repeat: no-repeat;
    width: 30px;
    text-align: center;
    padding-right: 10px;
    font-weight: bold;
  }
  #sequence_inning .ball_icon {
    background-image: url("../image/analysis/ball_straight.png");
    color: #00F;
  }
  #sequence_inning .ball_icon.fill {
    background-image: url("../image/analysis/ball_straight_fill.png");
    color: #FFF;
  }
  #sequence_inning .ball_icon.curve {
    background-image: url("../image/analysis/ball_curve.png");
    color: #F00;
    background-position: 0 -2px;
  }
  #sequence_inning .ball_icon.curve.fill {
    background-image: url("../image/analysis/ball_curve_fill.png");
    color: #FFF;
  }

  #sequence_inning .sequence_label span {
    font-size: 15px;
    font-weight: bold;
  }
  #sequence_inning .canvas > div {
    position: relative;
  }
  #sequence_inning .canvas > div > span {
    position: absolute;
  }
  #sequence_inning .canvas > .curve {
    height: 70px;
    padding: 10px 23px;
  }
  #sequence_inning .canvas > .pos {
    height: 150px;
    margin-top: 15px;
    padding: 5px 14px;
  }

  #sequence_inning .canvas .c_none,
  #sequence_inning .canvas .pz_null,
  #sequence_inning .canvas .px_null {
    display: none;
  }

  #sequence_inning .canvas .c_0 {
    top: 10px;
    left: 22px;
  }
  #sequence_inning .canvas .c_1 {
    top: 10px;
    left: 72px;
  }
  #sequence_inning .canvas .c_2 {
    top: 10px;
    left: 122px;
  }
  #sequence_inning .canvas .c_3 {
    top: 40px;
    left: 22px;
  }
  #sequence_inning .canvas .c_4 {
    top: 40px;
    left: 72px;
  }
  #sequence_inning .canvas .c_5 {
    top: 40px;
    left: 122px;
  }


  #sequence_inning .canvas .pz_2 {
    top: 5px;
  }
  #sequence_inning .canvas .pz_1 {
    top: 35px;
  }
  #sequence_inning .canvas .pz_0 {
    top: 65px;
  }
  #sequence_inning .canvas .pz_-1 {
    top: 95px;
  }
  #sequence_inning .canvas .pz_-2 {
    top: 125px;
  }

  #sequence_inning .canvas .px_-2 {
    left: 14px;
  }
  #sequence_inning .canvas .px_-1 {
    left: 43px;
  }
  #sequence_inning .canvas .px_0 {
    left: 73px;
  }
  #sequence_inning .canvas .px_1 {
    left: 102px;
  }
  #sequence_inning .canvas .px_2 {
    left: 132px;
  }

  #sequence_inning .ball_graph > div {
    padding: 0;
  }


  .hhs_right,.hhs_left,.hhs_both,
  .ths_right,.ths_left,.ths_both{
    font-size: 13px;
    padding: 1px 0px;
  }

.w2000{width: 2000px;}
.padding_none {padding: 0px;}
.pc_none {display:none}
.countmap-margin{margin-left: -7px;}
/* ---------------------------------------------- */
/*デバイスの横幅が768px以下の場合*/
/* ---------------------------------------------- */
@media only screen and (max-width: 768px) {

  /*    padding: 0px 0px;*/
.mobile_none {display:none}
.mobile_padding_none {padding: 0px;}
.footer{
  text-align: center;
  }

  .hd_logo{
    width:220px;
    padding-left: 0;
  }
  .hd_logo img {
    height: 48px;
  }
  .team_name a {
    display: inline-block;


  }
  #Main,#All{
    /*    width: auto;*/
    width: 485px;
    box-shadow: none;
  }
  .modal-1000,.report_bg,.team_page,.mobile{width: auto;}
  .highcharts{width: 455px;}

  body{
    background-image: none;
    font-size: 20px;
  }
  .btn,.s_title,.s_title2,.lf_title,.errmsg {font-size: 20px;}
  .help,.info, .help1,.info1 {font-size: 40px;}
  .nav,.nav a{
    display: inline-block;
    padding: 10px 5px;
  }
  .navbar {
    margin-bottom: 0px;
    min-height: 50px;
  }
  .navbar-nav > li > a,.nav-tabs > li > a ,.navbar-right{
    padding: 5px;
  }
  .nav > li > a {
    padding: 5px 5px;
    line-height: 15px;
    border-bottom:  1px solid gainsboro;
    margin-right: 0;
  }
  .panel,.panel-body,.modal-body,.col-sm-6{
    padding: 3px;
  }
.modal-dialog{margin-left: 3px; margin-right: 3px;}
.col-sm-6,.col-xs-6,.col-sm-3,.col-sm-9 {
    padding: 13px 3px;
  }
  .table{
    /*  width:929px;*/
    font-size: 18px;
  }
  table.clickable_analysis{
    /*  width:929px;*/
    margin: 9px 0;
  }
  table.clickable_analysis td ,.table_tit2,.mobile,.form-control,.blue,th ,#common_course .s_title{
    font-size: 14px;
  }
  .w925{width: 925px;}
  .w1500{width: 1500px;}
  .w2000{width: 2000px;}

  .s_title {
    height: auto;
    margin: 9px 0;
  }
.pre-scrollable {
  max-height: auto;
  overflow-y: auto;
}
table.ref_region{width: 100%;
}
table.ref_region .ref_annual_salary {
  width: auto;
}
table.ref_region td{font-size: 15px;}
/* [class*='col-'] {
    padding-right:0;
    padding-left:0;
}  */
.bcd_course{padding: 0px;}

#course_analysis div#filter,#course_analysis div#summary ,.mobile_w100per{
  width: 100%;
}

#sequence table.curve {
  margin-bottom: 5px;
  margin-top: 5px;
}
.acenter{text-align: left;}

#common_course .row {
  margin: 15px 5px;
}
#course_analysis div#filter select {
  height: 185px;
}

.radio_label{
  padding: 3px ;
}
.col-xs-ballpop-kyusyu{
  margin-bottom: 73px;
  margin-left: 13px;
  padding: 12px;
  width: 422px;
}
  #btnPopBallCourseOK {
    width: 200px;
/*    color:white;
    font:bold;*/
  }

  .bcd_result #select_action span{
    font-size: 18px;
  }
  .tblBatSide{
    font-size: 13px;
  }
  
  .bcd_result .checkbox{
    margin: 0px;
  }
  
  
  
  /*.selectBox,.selectBox1{ height: 25px;}*/

  #course_analysis div#filter .btn-primary {
    width: 122px;
    font-size: 14px;
  }
  #course_analysis div#filter select {
    height: auto;
    min-height: 25px;
  }
  #common_course .panel-body {
    height: auto;
  }
  #sequence .selct_button.region {
    margin: 47px 0;
  }
  #sequence .panel-body {
    height: 490px;
  }

  #sequence.primary_bat_side.right .selct_button {
    margin-left: 0px;
  }

  #sequence.primary_bat_side.left .selct_button {
    margin-right: 0px;
  }

  #sequence_inning .ball_graph {
    margin-bottom: 10px;
  }
  #sequence_inning .ball_graph > div {
    padding: 0;
  }
  #sequence_inning .ball_graph > div > div {
    padding: 0;
  }
  #sequence_inning .ball_detail {
    border-left: none;
    border-top: 1px solid #CCC;
  }
  #sequence_inning span.player,
  #sequence_inning span.opp_player {
    display: block;
  }
  #sequence_inning .sequence_label {
    position: relative;
  }
  #sequence_inning span.result {
    position: absolute;
    top: 0;
    right: 0;
  }
  #sequence_inning .sequence_label span {
    font-size: 13px;
  }
  #sequence_inning .ball_graph .acenter {
    text-align: center;
    padding-right: 32px;
  }


}
/*end of デバイスの横幅が768px以下の場合*/
